greenhouse/node-red-flow-serre.json
[
  {
    "id": "tab_greenhouse",
    "type": "tab",
    "label": "Serre Intelligente",
    "disabled": false,
    "info": "Flow de base pour la visualisation TP3"
  },
  {
    "id": "mqtt_broker_local",
    "type": "mqtt-broker",
    "name": "Broker Mosquitto Local",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "in_sensors",
    "type": "mqtt in",
    "z": "tab_greenhouse",
    "name": "Capteurs serre (sensors/#)",
    "topic": "greenhouse/sensors/#",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker_local",
    "x": 160,
    "y": 120,
    "wires": [["json_sensors"]]
  },
  {
    "id": "json_sensors",
    "type": "json",
    "z": "tab_greenhouse",
    "name": "JSON Parser Capteurs",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 410,
    "y": 120,
    "wires": [["debug_sensors"]]
  },
  {
    "id": "debug_sensors",
    "type": "debug",
    "z": "tab_greenhouse",
    "name": "Debug Capteurs",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 650,
    "y": 120,
    "wires": []
  },
  {
    "id": "in_actuators",
    "type": "mqtt in",
    "z": "tab_greenhouse",
    "name": "États actionneurs (+/state)",
    "topic": "greenhouse/actuators/+/state",
    "qos": "1",
    "datatype": "auto",
    "broker": "mqtt_broker_local",
    "x": 170,
    "y": 200,
    "wires": [["json_actuators"]]
  },
  {
    "id": "json_actuators",
    "type": "json",
    "z": "tab_greenhouse",
    "name": "JSON Parser Actionneurs",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 420,
    "y": 200,
    "wires": [["debug_actuators"]]
  },
  {
    "id": "debug_actuators",
    "type": "debug",
    "z": "tab_greenhouse",
    "name": "Debug Actionneurs",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 660,
    "y": 200,
    "wires": []
  },
  {
    "id": "in_alerts",
    "type": "mqtt in",
    "z": "tab_greenhouse",
    "name": "Alertes serre (alerts)",
    "topic": "greenhouse/alerts",
    "qos": "1",
    "datatype": "auto",
    "broker": "mqtt_broker_local",
    "x": 140,
    "y": 280,
    "wires": [["json_alerts"]]
  },
  {
    "id": "json_alerts",
    "type": "json",
    "z": "tab_greenhouse",
    "name": "JSON Parser Alertes",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 390,
    "y": 280,
    "wires": [["debug_alerts"]]
  },
  {
    "id": "debug_alerts",
    "type": "debug",
    "z": "tab_greenhouse",
    "name": "Debug Alertes",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 620,
    "y": 280,
    "wires": []
  }
]
